{% load url from future %}

<html>
<head>
	<title>Mobilne tarife</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/master.css">
	{% block head %}
	{% endblock head %}
</head>
<body>
	<div id="content">
		<div id="header">
			<div id="site-logo">M</div>
			{% if user.is_authenticated %}
				<div id="user-info">{{ user.username }} | <a href="/admin/tarife/tarifa/">tarife</a> | <a href="{% url 'logout' %}">logout</a></div>
			{% else %}
				<div id="user-info"><a href="{% url 'login' %}">login</a> | <a href="{% url 'register' %}">register</a></div>
			{% endif %}
			<div id="site-title"><h1>Mobilne tarife</h1></div>
		</div>
		{% block content %}	
		{% endblock content %}
	</div>
</body>
</html>