{% load url from future %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mobilne tarife</title>
    <meta name="description" content="Aplikacija za izračun cijene koštanja usluga mobilnih operatera">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <script src="{{ STATIC_URL }}js/libs/modernizr-2.8.2.min.js"></script>
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>

    <header class="full_deader">
        <div class="container">
            <div class="grid-4 grid-mobile-12">
                <a href="/" class="logo cf">
                    <img src="{{ STATIC_URL }}img/logo.png" alt="Mobilne tarife" class="logo_img">
                    <span class="heading">Mobilne tarife 2</span>
                </a>
            </div>
            <div class="grid-8 grid-mobile-12">
                {% if user.is_authenticated %}                
                    <div class="logon_box">
                        <span class="username">{{ user.username }}</span>
                        {% if user.is_superuser %}
                            <a class="logon_link" href="/admin/">admin page</a>
                        {% endif %}
                        <a class="logon_link" href="{% url 'logout' %}">logout</a>
                    </div>
                {% else %}
                    <div class="logon_box">
                        <a class="logon_link" href="{% url 'login' %}">login</a>
                        <a class="logon_link" href="{% url 'register' %}">register</a>
                    </div>
                {% endif %}
            </div>

        </div>
    </header>

    {% block content %}{% endblock content %}

    <footer class="footer_bottom">
        <div class="container">
            <div class="grid-12 center">
                                
                <a href="/" class="logo center cf">
                    <img src="{{ STATIC_URL }}img/logo.png" alt="Mobilne tarife" class="logo_img">
                    <span class="heading">Mobilne tarife  | &copy;2014</span>
                </a>

            </div>
        </div>
    </footer>

    {# Scripts #}
    <script src="{{ STATIC_URL }}js/libs/jquery-2.1.1.min.js"></script>

    <!--[if lt IE 9]>
		<script src="{{ STATIC_URL }}js/libs/jquery-1.11.1.min.js"><\/script>
	<![endif]-->

    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>

</body>

</html>
