{% spaceless %}
{% for k1 in rez %}
    {% for i in rez_mjesec%}
    {% if forloop.counter == forloop.parentloop.counter %}
    {% with godina=i.1 mjesec=i.0|capfirst oznaka=i.2 %}
    <div class="grid-6 grid-tablet-12 grid-mobile-12">
    <div class="pie_box cf">
    <h3 class="title">Račun: {{ mjesec }} {{ godina }}.</h3>
    <div class="chart_wrap_{{ oznaka }} chart_wrap"></div>
                    
    <pre id="{{ oznaka }}" style="display:none">Operater###cijena
    {% for k2 in k1 %}
        {% for k3 in k2 %}
        {{ k3.0 }}---{{ k3.1 }}###{{ k3.2 }}
        {% endfor %}
    {% endfor %}
    </pre>

    {% include "tarife/hc_skripta.html" %}
    </div>
    </div>
    {% endwith %}
    {% endif %}
    {% endfor %}
{% endfor %}
{% endspaceless %}
